/**
Use flex and justify-content for placement of blocks at the center
 */
body {
    display: flex;
    justify-content: center;
}

/**
Create flex container for two items flex description and block logo.
Sets background, border for container, padding for content and text
aligning
 */
.container {
    display: flex;
    padding: 20px;
    background-color: #FFF3F0;
    border: 1px solid #F4C6B1;
    max-width: 1600px;
    text-align: justify;

    /**
    Block with a image.
    Set the size of the block and an image
     */
    .logo {
        width: 30%;
        min-width: 300px;

        img {
            display: block;
            width: 100%;
            height: auto;
            border-radius: 50%;
        }
    }

    /**
    Flex item with the text.
    Set direction and fonts for a text
     */
    .text {
        display: flex;
        flex-direction: column;
        margin-right: 40px;

        h1 {
            font-family: "Merriweather", "Times New Roman", serif;
            font-style: normal;
        }

        p {
            font-family: "Work+Sans", "Helvetica", sans-serif;
        }

        address {
            font-size: 16px;
        }
    }
}

/**
Media query with style rules for good looking on other devices
 */
@media screen and (max-width: 800px) {
    .container {
        flex-direction: column-reverse;

        .logo {
            display: flex;
            justify-content: center;
            width: 100%;

            img {
                width: 80%;
            }
        }

        .text {
            margin: 0;
        }
    }
}
