
body {
    display: flex;
    justify-content: center;
    margin: 0;
    color: #793700;
    font-family: "Source Code Pro", "Times New Roman", serif;
    font-size: 18px;
    font-weight: 500;
}


.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1440px;
    text-align: justify;

    .nav {
        display: flex;
        flex-direction: row;
        background-image: linear-gradient(grey, transparent);

    }

    .nav_text {
        margin: 50px;
        color: white;
    }

    .nav h1 {
        font-family: "Merriweather", "Times New Roman", serif;
        font-style: normal;
        font-size: 56px;
        font-weight: 400;
        line-height: 48px;
    }

    .nav p {
        font-family: "Work+Sans", "Helvetica", sans-serif;
        font-size: 30px;
        line-height: 30px;
        font-weight: 400;
    }

    span {
        font-family: "Source Code Pro", "Times New Roman", serif;
        font-size: 16px;
        font-weight: 500;
    }

    .portfolio {
        display: block;
        position: relative;
    }

    .portfolio_btn button {
        width: 100px;
        height: 30px;
        background-color: #44E34E;
        border-radius: 5px;
        border: none;
        cursor: pointer;
    }

    .portfolio_btn button:hover {
        background-color: rgba(68, 227, 79, 0.5);
    }

    .portfolio:hover .dropdown_content {
        display: block;
    }

    .dropdown_content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        width: 100px;
        justify-content: center;
        z-index: 1;
    }

    .dropdown_content a {
        text-decoration: none;
        color: black;
    }

    section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .text {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        width: 50%;
        margin: 50px 20px;
    }

    .logo {
        width: 30%;
        margin: 90px 10%;
        min-width: 300px;

        img {
            display: block;
            width: 100%;
            height: auto;
            border-radius: 5px;
        }
    }

    .contacts {
        display: flex;
        flex-direction: row;
        margin-left: 20px;
    }

    .contacts .social {
        display: flex;
        justify-content: center;

    }

    .contacts img {
        width: 30px;
        height: 30px;
        margin: 10px;
    }


}

/**
Media query with style rules for good looking on other devices
 */
@media screen and (max-width: 800px) {
    /*.container {*/
    /*    flex-direction: column-reverse;*/
    /*    align-items: center;*/

    /*    .logo {*/
    /*        display: flex;*/
    /*        justify-content: center;*/
    /*        width: 50%;*/

    /*        img {*/
    /*            width: 80%;*/
    /*        }*/
    /*    }*/

    /*    .text {*/
    /*        margin: 0;*/
    /*    }*/
    /*}*/
}
