/**
Use flex and justify-content for placement of blocks at the center
 */
body {
    display: flex;
    justify-content: center;
}

/**
Create flex container for two items flex description and block logo.
 */
.container {
    display: flex;
    justify-content: space-around;
    background-color: #FFF3F0;
    max-width: 1600px;
    text-align: justify;

    /**
    Block with a image.
     */

    .logo {
        width: 20%;
        margin-top: 20px;
        min-width: 300px;

        img {
            display: block;
            width: 100%;
            height: auto;
            border-radius: 50%;
        }
    }

    /**
    Flex item with the text.
    Set direction and fonts for a text
     */

    .text {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;


        h1 {
            font-family: "Merriweather", "Times New Roman", serif;
            font-style: normal;
        }

        p {
            font-family: "Work+Sans", "Helvetica", sans-serif;
        }

        /*
        Contacts for feedback
         */
        .contacts {
            display: flex;
            flex-direction: row;
            justify-content: start;
        }

        .contacts .social {
            display: flex;
            justify-content: center;


        }

        .contacts img {
            width: 30px;
            height: 30px;
            margin: 10px;
        }

    }
}

/**
Media query with style rules for good looking on other devices
 */
@media screen and (max-width: 800px) {
    .container {
        flex-direction: column-reverse;
        align-items: center;

        .logo {
            display: flex;
            justify-content: center;
            width: 50%;

            img {
                width: 80%;
            }
        }

        .text {
            margin: 0;
        }
    }
}
